<div ng-controller="EstoqueCtrl" ng-init="init()">
  <ion-content class="has-footer">
    <div class="padding">
      <div class="card">
        <ion-list>
          <ion-item class="item item-divider">
            Configurar Relatório
          </ion-item>
          <label class="item item-input item-select">
            <div class="input-label">
              Selecionar o Grupos de Produto
            </div>
            <select ng-options="item.Codigo as item.Grupo for item in grupos[0]" ng-model="grupo">
            </select>
          </label>
          <ion-radio ng-model="tipo" ng-value="0" ng-click="GerarRelatorio(grupo, tipo)">Todos</ion-radio>
          <ion-radio ng-model="tipo" ng-value="1" ng-click="GerarRelatorio(grupo, tipo)">Estoque Zero</ion-radio>
          <ion-radio ng-model="tipo" ng-value="2" ng-click="GerarRelatorio(grupo, tipo)">Abaixo do Estoque Mínimo</ion-radio>
          <ion-radio ng-model="tipo" ng-value="3" ng-click="GerarRelatorio(grupo, tipo)">Abaixo do Ponto de Pedido</ion-radio>
          <ion-radio ng-model="tipo" ng-value="4" ng-click="GerarRelatorio(grupo, tipo)">Abaixo do Estoque Padrão </ion-radio>
        </ion-list>
      </div>
      <div ng-show="relatorio">
        <div class="card">
          <ion-list>
            <div class="item item-divider">
              <i class="icon ion-ios-briefcase"></i>
              Relatório de Estoque
            </div>
            <ion-item>
              <table class="tabela">
                <tr>
                  <td class="destaque-celula" width="70%">Produto</td>
                  <td class="destaque-celula" width="30%" align="right">Qtde</td>
                </tr>
                <tr ng-repeat="item in dados[0]">
                  <td>{{ item.Produto }}</td>
                  <td align="right">{{ item.Estoque }}</td>
                </tr>
              </table>
            </ion-item>
          </ion-list>
        </div>
      </div>

    </div>
      </ion-content>
</div>
