<div ng-controller="VendasCtrl" ng-init="init()">
  <ion-content class="has-footer">
    <div class="padding">
      <div class="card">
        <ion-list>
          <ion-item class="item item-divider">
            Selecionar Períodos
          </ion-item>
          <div class="item item-icon-left" ion-datetime-picker title="'Selecine a Data Inicial'" ng-model="dataInicial"
               ng-change="RefazerRelatorio(dataInicial, dataFinal)">
            <i class="icon ion-ios-calendar-outline positive"></i> Data Inicial:
            {{ dataInicial| date: "dd/MM/yyyy HH:mm:ss"}}
          </div>
          <div class="item item-icon-left" ion-datetime-picker title="'Selecine a Data Final'" ng-model="dataFinal"
               ng-change="RefazerRelatorio(dataInicial, dataFinal)">
            <i class="icon ion-ios-calendar-outline positive"></i> Data Final:
            {{ dataFinal| date: "dd/MM/yyyy HH:mm:ss"}}
          </div>
          <ion-item class="item item-divider">
            Selecione o Tipo de Relatório
          </ion-item>

          <ion-radio ng-model="tipo" ng-value="1" ng-click="GetVenda(dataInicial, dataFinal, tipo)">Geral</ion-radio>
          <ion-radio ng-model="tipo" ng-value="2" ng-click="GetVenda(dataInicial, dataFinal, tipo)">Por Produto</ion-radio>
          <ion-radio ng-model="tipo" ng-value="3" ng-click="GetVenda(dataInicial, dataFinal, tipo)">Por Grupo de Produto </ion-radio>
          <ion-radio ng-model="tipo" ng-value="4" ng-click="GetVenda(dataInicial, dataFinal, tipo)">Por Vendedor </ion-radio>
          <ion-radio ng-model="tipo" ng-value="5" ng-click="GetVenda(dataInicial, dataFinal, tipo)">Gerar Gráfico Anual </ion-radio>
        </ion-list>
      </div>

      <div class="card" ng-show="relatorio">
        <ion-list>
          <div class="item item-divider">
            <i class="icon ion-ios-briefcase"></i>
            Relatório de Vendas
          </div>
          <div ng-show="tipo == 1">
            <div ng-include="'templates/relatorios/venda.html'"></div>
          </div>
          <div ng-show="tipo == 2">
            <div ng-include="'templates/relatorios/venda-por-produto.html'"></div>
          </div>
          <div ng-show="tipo == 3">
            <div ng-include="'templates/relatorios/venda-por-grupo-produto.html'"></div>
          </div>
          <div ng-show="tipo == 4">
            <div ng-include="'templates/relatorios/venda-por-vendedor.html'"></div>
          </div>
          <div ng-show="tipo == 5">
            <div ng-include="'templates/relatorios/venda-grafico-anual.html'"></div>
          </div>
          <ion-item ng-show="mostrarRodape">
            <table class="tabela">
              <tr>
                <td class="destaque-celula" width="50%">Totais</td>
                <td class="destaque-celula" width="50%" align="right">Valor</td>
              </tr>
              <tr ng-repeat="item in rodape[0]">
                <td ng-class="{'destaque-celula':$last}">{{ item.TIPO }}</td>
                <td ng-class="{'destaque-celula':$last}" align="right">{{ item.VALOR }}</td>
              </tr>
            </table>

          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</div>
