<div ng-controller="CaixaCtrl" ng-init="init(1)">
  <ion-content class="has-footer">
    <div class="padding">
      <div ng-show="listagem">
        <div class="card">
          <ion-list>
            <div class="item item-divider">
              <i class="icon ion-ios-briefcase"></i>
              Turnos de Caixa
            </div>
            <ion-item ng-repeat="item in dados[0]" ng-click="GerarRelatorio(item)">
              <h2>{{ item.NOME }}</h2>
              <table class="tabela mt">
                <tr style="border-bottom: none;">
                  <td align="left" style="padding: 0px;">{{ item.DATA_ABERTURA }} à {{ item.DATA_FECHAMENTO }}</td>
                  <td align="right" style="padding: 0px;" class='destaque-texto'>
                    <div ng-class="{'aberto':item.STATUS == 'Fechado'}">{{ item.STATUS }}</div>
                  </td>
                </tr>
              </table>
              <span class="badge">{{ item.TURNO }}</span>
            </ion-item>
          </ion-list>
        </div>
        <button class="button button-block button-balanced button-icon ion-ios-calendar-outline" ng-show="listagem" ng-click="modal.show()">
          Informar Dias
        </button>
      </div>
      <div ng-hide="listagem">
        <button class="button button-block button-balanced button-icon ion-ios-arrow-back" ng-hide="listagem" ng-click="GetTurno()">
          Voltar
        </button>
        <div class="card">
          <ion-list>
            <ion-item class="item item-divider">
              <h2>{{ caixa.NOME }}</h2>
              <table class="tabela mt">
                <tr style="border-bottom: none;">
                  <td align="left" style="padding: 0px;">{{ caixa.DATA_ABERTURA }} à {{ caixa.DATA_FECHAMENTO }}</td>
                  <td align="right" style="padding: 0px;" class='destaque-texto'>
                    <div ng-class="{'aberto':caixa.STATUS == 'Fechado'}">{{ caixa.STATUS }}</div>
                  </td>
                </tr>
              </table>
              <span class="badge">{{ caixa.TURNO }}</span>
            </ion-item>
          </ion-list>
        </div>
        <div class="card">
          <ion-list>
            <div class="item item-divider">
              Movimento do Turno
            </div>
            <ion-item>
              <table class="tabela">
                <tr>
                  <td class="destaque-celula" width="10%">Dia</td>
                  <td class="destaque-celula" width="20%" align="center">Venda</td>
                  <td class="destaque-celula" width="40%">Descricao</td>
                  <td class="destaque-celula" width="20%" align="right">Valor</td>
                  <td class="destaque-celula" width="10%" align="center">Tipo</td>
                </tr>
                <tr ng-repeat="item in movimento[0]">
                  <td>{{ item.DATA | limitTo:2 }}</td>
                  <td align="center">{{ item.VENDA }}</td>
                  <td>{{ item.DESCRICAO | limitTo:12 }}</td>
                  <td ng-class="{'destaque-texto': item.TIPO == 'D'}" align="right">{{ item.VALOR }}</td>
                  <td ng-class="{'destaque-texto': item.TIPO == 'D'}" align="center">{{ item.TIPO }}</td>
                </tr>
              </table>
            </ion-item>
          </ion-list>
        </div>

        <div class="card">
          <ion-list>
            <div class="item item-divider">
              Resumo das Vendas
            </div>
            <ion-item type="item-text-wrap">
              <table class="tabela">
                <tr>
                  <td class="destaque-celula" width="50%" align="left">Tipo</td>
                  <td class="destaque-celula" width="50%" align="right">Valor</td>
                </tr>
                <tr ng-repeat="item in resumoVendas[0]">
                  <td ng-class="{'destaque-celula':$last}" align="left">{{ item.TIPO }}</td>
                  <td ng-class="{'destaque-celula':$last}" align="right">{{ item.VALOR }}</td>
                </tr>
              </table>
            </ion-item>
          </ion-list>
        </div>

        <div class="card">
          <ion-list>
            <div class="item item-divider">
              Resumo do Movimento
            </div>
            <ion-item type="item-text-wrap">
              <table class="tabela">
                <tr>
                  <td class="destaque-celula" width="40%" align="left">Tipo</td>
                  <td class="destaque-celula" width="30%" align="right">Entrada</td>
                  <td class="destaque-celula" width="30%" align="right">Saída</td>
                </tr>
                <tr ng-repeat="item in resumoMovimento[0]">
                  <td ng-class="{'destaque-celula':$last}" align="left">{{ item.TIPO }}</td>
                  <td ng-class="{'destaque-celula':$last}" align="right">{{ item.ENTRADA }}</td>
                  <td ng-class="{'destaque-celula':$last}" align="right">{{ item.SAIDA }}</td>
                </tr>
              </table>
            </ion-item>
          </ion-list>
        </div>

        <div class="card">
          <ion-list>
            <div class="item item-divider">
              Balancete do Caixa
            </div>
            <ion-item type="item-text-wrap">
              <table class="tabela">
                <tr>
                  <td class="destaque-celula" colspan="2" width="50%" align="center">Tipo</td>
                  <td class="destaque-celula" colspan="2" width="50%" align="center">Saída</td>
                </tr>
                <tr ng-repeat="item in balancete[0]">
                  <td ng-class="{'destaque-celula':$last}" width="30%" align="left">{{ item.TIPO1 | limitTo:10 }}</td>
                  <td ng-class="{'destaque-celula':$last}" width="20%" align="right">{{ item.VALOR1 }}</td>
                  <td ng-class="{'destaque-celula':$last}" width="30%" align="left">{{ item.TIPO2 | limitTo:10 }}</td>
                  <td ng-class="{'destaque-celula':$last}" width="20%" align="right">{{ item.VALOR2 }}</td>
                </tr>
              </table>
            </ion-item>
          </ion-list>
        </div>

        <div class="card">
          <ion-list>
            <div class="item item-divider">
              Relatório de Cancelamentos
            </div>
            <ion-item type="item-text-wrap">
              <table class="tabela">
                <tr>
                  <td class="destaque-celula" width="50%" colspan="2" align="center">Cancelamentos do Turno</td>
                </tr>
                <tr ng-repeat="item in cancelamentos[0]">
                  <td width="50%" align="left">
                    <strong>Cancelamento</strong> <br>
                    <strong>Lançamento</strong> <br>
                    <strong>Origem</strong> <br>
                    <strong>Produto</strong> <br>
                    <strong>Motivo</strong> <br>
                    <strong>Qtde</strong> <br>
                    <strong>Valor</strong>
                  </td>
                  <td width="50%" align="right">
                    {{ item.CANCELAMENTO }} <br>
                    {{ item.LANCAMENTO }} <br>
                    {{ item.ORIGEM }} <br>
                    {{ item.PRODUTO }} <br>
                    {{ item.MOTIVO }} <br>
                    {{ item.QTDE }} <br>
                    {{ item.VALOR }}
                  </td>
                </tr>
                <tr>
                  <td width="50%" class="destaque-celula" align="left">
                    <strong>Total</strong>
                  </td>
                  <td width="50%" class="destaque-celula" align="right">
                    {{ totalCancelamentos }}
                  </td>
                </tr>
              </table>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-content>
</div>
