<div ng-controller="ConsumoCtrl" ng-init="init()">
  <ion-content class="has-footer">
    <div class="padding">
      <div class="card">
        <ion-list>
          <ion-item class="item item-divider">
            Selecionar Períodos
          </ion-item>
          <div class="item item-icon-left" ion-datetime-picker title="'Selecine a Data Inicial'" ng-model="dataInicial">
            <i class="icon ion-ios-calendar-outline positive"></i> Data Inicial:
            {{ dataInicial | date: "dd/MM/yyyy HH:mm:ss"}}
          </div>
          <div class="item item-icon-left" ion-datetime-picker title="'Selecine a Data Final'" ng-model="dataFinal">
            <i class="icon ion-ios-calendar-outline positive"></i> Data Final:
            {{ dataFinal | date: "dd/MM/yyyy HH:mm:ss"}}
          </div>
        </ion-list>
      </div>
      <button class="button button-balanced button-block button-icon ion-ios-search-strong" ng-click="GerarRelatorio(dataInicial, dataFinal)"> Pesquisar </button>
      <div ng-show="relatorio" class="card">
        <ion-list>
          <div class="item item-divider">
            <i class="icon ion-ios-briefcase"></i>
            Relatório de Vendas
          </div>
          <ion-item>
            <table class="tabela">
              <tr>
                <td class="destaque-celula" width="70%">Totais</td>
                <td class="destaque-celula" width="30%" align="right">R$</td>
              </tr>
              <tr ng-repeat="item in dados[0]">
                <td ng-class="{'destaque-celula':$last}">{{ item.TIPO }}</td>
                <td ng-class="{'destaque-celula':$last}" align="right">{{ item.VALOR }}</td>
              </tr>
            </table>
          </ion-item>
        </ion-list>
          <ion-item>
            <table class="tabela">
              <tr>
                <td class="destaque-celula" width="70%">Totais</td>
                <td class="destaque-celula" width="30%" align="right">R$</td>
              </tr>
              <tr ng-repeat="item in rodape[0]">
                <td ng-class="{'destaque-celula':$last}">{{ item.TIPO }}</td>
                <td ng-class="{'destaque-celula':$last}" align="right">{{ item.VALOR }}</td>
              </tr>
            </table>
          </ion-item>
        </ion-list>
      </div>
    </div>
</div>
