<div ng-controller="CancelamentosCtrl" ng-init="init()">
  <ion-content class="has-footer">
    <div class="padding">
      <div class="card">
        <ion-list>
          <ion-item class="item-divider">
            {{ titulo }}
          </ion-item>
        </ion-list>
      </div>
      <div ng-show="relatorio">
        <div class="card mt">
          <ion-list>
            <!--<label class="item item-input label-pesqusa">-->
              <!--<i class="icon ion-search placeholder-icon"></i>-->
              <!--<input type="number" name="search" ng-model="search.Comanda" class="input-pesquisa" />-->
            <!--</label>-->
            <ion-item class="item item-divider item-tabela">
              <div class="row">
                <div class="col">
                  Mesa
                </div>
                <div class="col" style="text-align: center">
                  Data
                </div>
                <div class="col" style="text-align: right">
                  Valor
                </div>
                <div class="col" style="text-align: right">
                  Tempo
                </div>
              </div>
            </ion-item>
            <ion-item class="item-tabela" ng-repeat="item in mesas[0] | filter: search" ng-click="RetornaItemsDaComanda(item.Comanda, 1)">
              <div class="row">
                <div class="col">
                  {{ item.Comanda }}
                </div>
                <div class="col" style="text-align: center">
                  {{ item.Data }}
                </div>
                <div class="col" style="text-align: right">
                  {{ item.Valor }}
                </div>
                <div class="col" style="text-align: right">
                  {{ item.Tempo }}
                </div>
              </div>
            </ion-item>
          </ion-list>
        </div>
        <div class="card mt">
          <ion-list>
            <!--<label class="item item-input label-pesqusa">-->
              <!--<i class="icon ion-search placeholder-icon"></i>-->
              <!--<input type="number" ng-model="search_c.Comanda" class="input-pesquisa" />-->
            <!--</label>-->
            <ion-item class="item item-divider item-tabela">
              <div class="row">
                <div class="col">
                  Cartão
                </div>
                <div class="col" style="text-align: center">
                  Data
                </div>
                <div class="col" style="text-align: right">
                  Valor
                </div>
                <div class="col" style="text-align: right">
                  Tempo
                </div>
              </div>
            </ion-item>
            <ion-item class="item-tabela" ng-repeat="item in cartoes[0] | filter:search_c"  ng-click="RetornaItemsDaComanda(item.Comanda, 2)">
              <div class="row">
                <div class="col">
                  {{ item.Comanda }}
                </div>
                <div class="col" style="text-align: center">
                  {{ item.Data }}
                </div>
                <div class="col" style="text-align: right">
                  {{ item.Valor }}
                </div>
                <div class="col" style="text-align: right">
                  {{ item.Tempo }}
                </div>
              </div>
            </ion-item>
          </ion-list>
        </div>
      </div>
      <div ng-hide="relatorio">
        <button class="button button-block button-balanced button-icon ion-ios-arrow-back" ng-click="Voltar()">
          Voltar
        </button>
        <div class="card">
          <ion-list>
            <!--<label class="item item-input">-->
              <!--<i class="icon ion-search placeholder-icon"></i>-->
              <!--<input type="text" name="search" ng-model="search_comanda.Produto" />-->
            <!--</label>-->
            <ion-item class="item item-divider item-tabela">
              <div class="row">
                <div class="col" style="text-align: left">
                  Opção
                </div>
                <div class="col" style="text-align: center">
                  Qtde
                </div>
                <div class="col">
                  Produto
                </div>
                <div class="col" style="text-align: right">
                  Total
                </div>
              </div>
            </ion-item>
            <ion-item class="item-tabela" ng-repeat="item in comandas[0] | filter: search_comanda" >
              <div class="row">
                <div class="col" style="text-align: left">
                  <button class="button button-assertive ion-ios-close-outline" ng-click="EnviarCancelamento(item.Item, $index)"></button>
                </div>
                <div class="col mt" style="text-align: center">
                  {{ item.Qtde }}
                </div>
                <div class="col mt">
                  {{ item.Produto }}
                </div>
                <div class="col mt" style="text-align: right">
                  {{ item.Total}}
                </div>
              </div>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-content>
</div>
