<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content edge-drag-threshold="true" drag-content="true">
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <!-- TABS -->

    
  </ion-side-menu-content>
  <!-- Side Menu (left) -->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-balanced" >
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item-icon-left item-icon-right" menu-close href="#/tab/inicio">
          <i class="icon ion-ios-home"></i> Inicio <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" menu-close href="#/tab/caixa">
          <i class="icon ion-social-usd"></i> Caixa <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" menu-close href="#/tab/vendas">
          <i class="icon ion-bag"></i> Vendas <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" menu-close href="#/tab/consumo">
          <i class="icon ion-arrow-graph-up-right"></i> Vendas em Consumo <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" menu-close href="#/tab/estoque">
          <i class="icon ion-compose"></i> Estoque <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" menu-close href="#/tab/mesa">
          <i class="icon ion-android-restaurant"></i> Mesa <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" menu-close href="#/tab/cartao">
          <i class="icon ion-card"></i> Cartão <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" menu-close href="#/tab/financeiro">
          <i class="icon ion-calculator"></i> Financeiro <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" menu-close href="#/tab/compras">
          <i class="icon ion-compose"></i> Compras <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" menu-close href="#/tab/sair">
          <i class="icon ion-log-out"></i> Sair <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
