<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/slidingTabs.css" rel="stylesheet">
  <link href="css/ion-datetime-picker.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/slidingTabsDirective.js"></script>
  <script src="js/ion-datetime-picker.min.js"></script>
  <script src="js/Chart.min.js"></script>
  <script src="js/angular-chart.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/values.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/angular-locale_pt-br.js"></script>
  <style>
    ion-scroll {
      overflow: auto !important;
    }
  </style>
</head>
<body ng-app="starter" animation="slide-left-right">
<ion-nav-bar class="bar-balanced">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
<ion-nav-view ng-controller="InicioCtrl"></ion-nav-view>

<script id="index.html" type="text/ng-template">
  <ion-view view-title="SiedFoodManaging 2017">
    <ion-content scroll="false">
      <ion-slides slider="slider" ion-slides-tabs slide-tabs-scrollable="true">
        <ion-slide-page ion-slide-tab-label="Início">
          <h2>teste</h2>
        </ion-slide-page>
        <ion-slide-page ion-slide-tab-label="Caixa">
          <div ng-include="'templates/tab-caixa.html'"></div>
        </ion-slide-page>
        <ion-slide-page ion-slide-tab-label="Vendas">
          <div ng-include="'templates/tab-vendas.html'"></div>
        </ion-slide-page>
        <ion-slide-page ion-slide-tab-label="Vendas em Consumo">
          <div ng-include="'templates/tab-consumo.html'"></div>
        </ion-slide-page>
        <ion-slide-page ion-slide-tab-label="Estoque">
          <div ng-include="'templates/tab-estoque.html'"></div>
        </ion-slide-page>
        <ion-slide-page ion-slide-tab-label="Cancelamentos">
          <div ng-include="'templates/tab-cancelamentos.html'"></div>
        </ion-slide-page>
        <ion-slide-page ion-slide-tab-label="Financeiro">ERWTWERTWE</ion-slide-page>
        <ion-slide-page ion-slide-tab-label="Compras">VBNMVBN</ion-slide-page>
      </ion-slides>
    </ion-content>
  </ion-view>
</script>
<script id="templates/caixa.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-balanced">
      <h1 class="title">Quantidade de Dias</h1>
      <button class="button button-clear button-icon ion-ios-close" ng-click="modal.hide()">
      </button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Dias: </span>
          <input type="text" ng-model="dias" readonly>
        </label>
        <div class="item range range-positive">
          <i class="icon ion-ios-minus"></i>
          <input type="range" min="1" max="30" ng-model="dias">
          <i class="icon ion-ios-plus"></i>
        </div>
        <button class="button button-full button-balanced" ng-click="ProcessarRelatorio(dias)">
          Processar Relatório
        </button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
<script id="templates/vendas.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-balanced">
      <h1 class="title">Quantidade de Dias</h1>
      <button class="button button-clear button-icon ion-ios-close" ng-click="modal.hide()">
      </button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Informar o ano: </span>
          <input type="number" ng-model="ano" >
        </label>
        <button class="button button-full button-balanced" ng-click="GerarGraficoPorAno(ano)">
          Processar Relatório
        </button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
</body>
</html>
