<ion-item>
  <table class="tabela">
    <tr>
      <td class="destaque-celula" width="50%">Produto</td>
      <td class="destaque-celula" width="10%" align="left">Qtde</td>
      <td class="destaque-celula" width="20%" align="center">Valor</td>
      <td class="destaque-celula" width="20%" align="right">Total</td>
    </tr>
    <tr ng-repeat="item in dados[0]">
      <td ng-class="{'destaque-celula':$last}">{{ item.Produto }}</td>
      <td ng-class="{'destaque-celula':$last}" align="left">{{ item.Qtde }}</td>
      <td ng-class="{'destaque-celula':$last}" align="center">{{ item.Valor }}</td>
      <td ng-class="{'destaque-celula':$last}" align="right">{{ item.Total }}</td>
    </tr>
  </table>
</ion-item>
