<div class="mt">
  <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-colors="colors" chart-series="series" >
  </canvas>
</div>
<ion-item>
  <table class="tabela">
    <tr>
      <td class="destaque-celula" width="50%" align="left">Mês {{ $scope.ano }}</td>
      <td class="destaque-celula" width="50%" align="right">Total</td>
    </tr>
    <tr ng-repeat="item in dados[0]">
      <td align="left">{{ item.Mes }}</td>
      <td align="right">{{ item.Valor }}</td>
    </tr>
    <tr>
      <td class="destaque-celula" width="50%" align="left">Total Geral</td>
      <td class="destaque-celula" width="50%" align="right">{{ totalAno }}</td>
    </tr>
  </table>
</ion-item>


