<ion-item>
  <table class="tabela">
    <tr>
      <td class="destaque-celula" width="10%">Data</td>
      <td class="destaque-celula" width="50%" align="left">Tipo</td>
      <td class="destaque-celula" width="20%" align="center">Venda</td>
      <td class="destaque-celula" width="20%" align="right">Valor</td>
    </tr>
    <tr ng-repeat="item in dados[0]">
      <td ng-class="{'destaque-celula':$last}">{{ item.Data }}</td>
      <td ng-class="{'destaque-celula':$last}" align="left">{{ item.Tipo }}</td>
      <td ng-class="{'destaque-celula':$last}" align="center">{{ item.Venda }}</td>
      <td ng-class="{'destaque-celula':$last}" align="right">{{ item.Total }}</td>
    </tr>
  </table>
</ion-item>

