ion-slide {
  background-color: #f0f0f0;
}

ion-slide:nth-child(2n) {
  background-color: #fff;
}

.slider {
  height: 100%;
}

.slidingTabs {
  height: 48px;
  z-index: 10;
}

.platform-browser .slidingTabs.scroll-view.scroll-x {
  overflow-x: hidden;
  overflow-y: hidden;
}

.platform-browser .scroll-view.scroll-y {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.slidingTabs .scroll {
  height: auto;
  min-width: 100%;
}

.slidingTabs ul {
  /*background-color: #387ef5;*/
  background-color: #45af58;
  height: 48px;
}

.slidingTabs ul li {
  height: 48px;
  line-height: 48px;
  text-align: center;
  float: left;
  margin: 0;
  padding: 0 12px 20px 12px;
  font-size: 20px;
  /*text-transform: uppercase;*/
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
  position: relative;
  overflow: hidden;
}

.slidingTabs ul li.tab-active {
  color: #fff;
}

.slidingTabs ul li .ink {
  display: block;
  position: absolute;
  /*background: rgba(56, 147, 245, 0.8);*/
  background: #f3eea5;
  border-radius: 100%;
  transform: scale(0);
}

.slidingTabs ul li .ink.animate {
  -webkit-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear;
}

.slidingTabs .tab-indicator-wrapper {
  /*width: 100%;*/
  /*height: 2px;*/
  /*background-color: rgba(255, 255, 255, 0.2);*/
  /*-webkit-transform: translateY(-2px);*/
  /*position: absolute;*/
}

.slidingTabs .tab-indicator-wrapper .tab-indicator {
  height: 100%;
  background-color: #fff;
  width: 70px;
  position: relative;
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
