.slider {
  height: 100%;
}

.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}

#list ol {
  margin-top: 30px;
}

#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide {
  display: none;
}

.mt {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;;
}

.mt30 {
  margin-top: 30px !important;
}

.bar-balanced,
.tabs-background-balanced .tabs,
.tabs-background-balanced > .tabs,
.button-balanced,
.item-balanced {
  /*background: #3c763d !important;*/
  background: #45af58 !important;
  padding-top: 5px;
  padding-bottom: 5px;
  /*background: #00773f !important;*/
}
.item-tabela {
  padding-left: 5px;
  padding-right: 5px;
}

.item-divider, .badge {
  background: #ecfee6 !important;
}

.badge {
  color: #000;
}

.tabela {
  width: 100%;
  font-size: 12px;
}

.destaque-celula {
  /*background: #3c763d;*/

  background: #FFF;
  color: #4f81bd;
  font-weight: bold;

  padding: 0px 10px;
}

.tabela th {
  font-size: 16px;
  font-weight: bold;
}

.tabela td {
  padding: 0px 10px;
}

.tabela .destaque-texto .aberto {
  color: #33cd5f !important;
}

.tabela .destaque-texto {
  color: #e42112 !important;
}

.tabela tr {
  border-bottom: 1px solid #cccccc;
}
.item-divider {
  padding-top: 5px;
  padding-bottom: 0px;
}
.item-divider .row .col {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.card, .list-inset
{
  margin: 0px;
}

.input-pesquisa, .label-pesqusa {
  color: #FFF !important;
  background-color : #4bacc6;
  /*background-color : #006699;*/
}

.placeholder-icon {
  color: #FFF !important;
}

*::-webkit-input-placeholder {
  color: #FFF !important;
}

*:-moz-placeholder {
  color: #FFF !important;
}

*::-moz-placeholder {
  color: #FFF !important;
}
*:-ms-input-placeholder  {
  color: #FFF !important;
}
